<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
</head>
<body>


    <ul>



        {% for object in objects  %}    

           {% if not object.is_superuser %} 
        
                <li>        
                     <a href="{% url 'user_details' object %}">{{object}}</a> 
               </li>


            {% endif %}

        {% endfor %}
    
    
    </ul>

        



</body>
</html>