{% extends 'master.html' %}
{% block content %}
{% include 'partials/_navbar.html' %}
<div style="border:1px solid green;">
 <table class="table table-striped">
 <tr>
 <td>User Name</td>
 <td>{{user.username}}</td>
 </tr>
 <tr>
 <td>First Name</td>
 <td>{{user.first_name}}</td>
 </tr>
 <tr>
 <td>Last Name</td>
 <td>{{user.last_name}}</td>
 </tr>
 <tr>
 <td>Email Id</td>
 <td>{{user.email}}</td>
 </tr>
</table>
</div>
   <a href="{% url 'edit' user.username %}" class="btn btn-primary" role="button">Edit Profile</a>
{% endblock%}