arrow==0.13.1
certifi==2019.3.9
chardet==3.0.4
fix-yahoo-finance==0.1.26
idna==2.8
iex-api-python==0.0.5
iexfinance==0.4.0
lxml==4.3.3
numpy==1.16.2
pandas==0.24.2
pandas-datareader==0.7.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
socketIO-client-nexus==0.7.6
urllib3==1.26.5
websocket-client==0.56.0
wrapt==1.11.1
# pip freeze
arrow==0.13.1
certifi==2019.3.9
chardet==3.0.4
fix-yahoo-finance==0.1.26
idna==2.8
iex-api-python==0.0.5
iexfinance==0.4.0
lxml==4.3.3
numpy==1.16.2
pandas==0.24.2
pandas-datareader==0.7.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
socketIO-client-nexus==0.7.6
urllib3==1.26.5
websocket-client==0.56.0
wrapt==1.11.1
